= render partial: 'layouts/header-black'

.history
  .history-space
    - @total_price = 0
    - @orders.each do |order|
      .history-count
        = " PRODUCT: #{order.product.name} ,　"
        = " PRICE: ¥#{order.product.price.to_s(:delimited)} ,　"
        = " COUNT: #{order.count} ,　"
        = " SIZE: #{order.size} ,　"
        = " COLOR: #{order.color}"
        = " =　TOTAL-PRICE: ¥#{(order.product.price * order.count).to_s(:delimited)} "
        - @total_price += (order.product.price * order.count)
  .history-total-space
    .history-price
      = " PRICE: 　¥#{@total_price.to_s(:delimited)} "
    .history-plus-space
      = "+"
    .history-tax-price
      = " TAX: 　¥#{(@total_price * 0.1).floor.to_s(:delimited)}"
    .history-equal-space
      = "="
    .history-total-price
      = " TOTAL-PRICE: 　¥#{(@total_price + (@total_price * 0.1)).floor.to_s(:delimited)} "